*{
}

.wrapper{
	height:100vh;
	width: 100%;
}

.topnav{
	height:70px;
	width:100%;
	display:flex;
	align-items:left;
	align-items:center;
	border-bottom: thin solid black;
}

.topnav-left{
	display:inline-flex;
	align-items:center;
	justify:center;
}

.logo{
	height:85%;
}

.search-logo{
	height:50%;
}

.search-bar{
	height:60%;
	display: inline-flex;
	border:thin red;
	border-radius:50px;
}

.account-buttons{
	display:flex;
	justify-content:right;
	justify-content:flex-end;
	width:100%;
	height:100%;
}

.secnav{
	height:40px;
	width:100%;
	display:inline-flex;
	justify-content: center;
	
}

.secnav-left{
	height:100%;
	display:inline-flex;
}

.secnav-right{
	display:flex;
	justify-content:right;
	justify-content:flex-end;
	width:100%;
}

.quick-list{
	display:flex;
	width:100%;
	border: thin dotted red;
}
.list{
	display:inline-flex;
	list-style:none;
	width:100%;
	padding:10px;
	gap: 20px;
}

.coupon-button{
	display:inline-flex;
	justify-content:right;
	justify-content:center;
	height:100%;
}

.coupon-panel{
	display:inline-flex;
	justify-content:center;
}

.cyber-deals{
	display:inline-flex;
	justify-content:flex-end;
}